h1 {
	background-color: #cd5b34;
	color: white;
	text-align: center;
}

h2 {
	background-color: #d98156;
	color: white;
	text-align: center;
}

nav {
	background-color: #cd5b34;
	color: white;
	padding: 0.5em;

