html {
	font-family: Merriweather, serif;
	box-sizing: inherit;
}

*, *::before, *::after {
	box-sizing: inherit;
}

h1 {
	color: white;
	text-align: center;
	padding-bottom: .5em;
	margin: 0;
}

header {
	background-color: #cd5b34;
	padding-top: .5em;
	overflow: hidden;
}

body {
	margin: 0;
}

main {
	margin: .6em;
}

nav {
	background-color: #cd5b34;
	color: white;
}

.grains {
	width: 31%;
	float: left;
	clear: left;
	margin-right: 10px;
}

.cereals {
	width: 31%;
	float: right;
	clear: left;
}

.quinoa {
	width: 31%;
	float: right;
	clear: both;
}

.corn {
	width: 100%;
}

.rice {
	width: 31%;
}

.oats {
	width: 31%;
}

.peanuts {
	width: 31%;
	float: left;
}

.beans {
	width: 31%;
	float: left;
}

.lentils {
	width: 31%;
	float: left;
}

.p2 {
	clear: left;
}

.p1 {

}

.grain-left {
	width: 7%;
	float: left;
}

.grain-right {
	width: 7%;
	float: right;
}

h2 {
	color: white;
	background-color: #d98156;
	text-align: center;
	padding: 1em;
	clear: both;
	overflow: hidden;
	box-sizing: inherit;
}

h3 {
	text-align: center;
}

nav li {
	display: inline-block;
	width: 30%;
	padding: .5em;
	text-align: center;
	border: 1px solid #a43f39;
	float: left;
	color: white;
}

a {
	color: white;
	text-decoration: none;
}

nav ol {
	overflow: hidden;
	margin: auto;
	width: 100%;
	padding: 0;

}

figcaption {
	color: white;
	background-color: #cd5b34;
	padding-top: .5em;
	overflow: hidden;
}

footer {
	color: #e6ad88;
	text-align: center;
	padding-bottom: .5em;
	margin: 0;
	background-color: #cd5b34;
	padding-top: .5em;
	overflow: hidden;
}